<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dina's</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="formbody"> 
    {% include 'base.html' %}
    <div>
        <div id="pengalaman">
            <p>Jadwal Kegiatan</p>
        </div>
        <hr id="pendidikanLine">
        <br>
        <br>
        <div>{% if aktivitas %}
                {% for result in aktivitas %}
                    <div class = box>
                        <article>Nama Kegiatan: {{ result.namaKegiatan }}</article>
                        <article>Tanggal: {{ result.tanggal }}</article>
                        <article>Waktu: {{ result.waktu }}</article>
                        <article>Tempat: {{result.tempat }}</article>
                        <article>Kategori: {{result.kategori }}</article>
                    </div>
                {% endfor %}
            {% else %}
                <article style="margin-left: 45%;margin-bottom: 3%">Belum Ada Kegiatan</article>
            {% endif %}
        </div>
        <div id="agendabtn">
            <form action="/daftarKegiatan/" method="POST">
                {% csrf_token %}
                <div>
                    <a href="{% url 'formJadwal' %}" class="btn btn-outline-secondary" style="margin-left: 44.75%; margin-bottom: 3%; width: 10%" role="button" aria-pressed="true">Tambah Agenda</a>
                </div>
                <input style="margin-left: 43.5%; margin-bottom: 3%;" class="btn btn-outline-secondary" type="submit" value="Hapus Semua Kegiatan">
                <br>
            </form>
    </div>
    
</body>
</html>