<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dina's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="bodyTamu">
    {% include 'base.html' %}
        <form id="" action='/formJadwal/' method='POST'>
            <h2 id="tamu">Isi Jadwal</h2>
            <hr id="tamuLine">
            {% csrf_token %}
            {% for field in form %}
                <div id= 'formbox'>
                    {{ field.label_tag}}
                    {{ field }}
                </div>
            
            {% endfor %}
            <div id="button" class="input2"><button type="submit" class="btn">Register</button>
        </div>
        </form>
</body>
</html>