<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dina's</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="body"> 
    {% include 'base.html' %}
    <img id="padding_img" src="https://i.imgur.com/MkNFFRg.png">  
    <div>
        <img class="img" src="https://i.imgur.com/exVWp7e.jpg" width="20%" height="20%">
    </div>
    <div class="kotak">
        <p class="dalam-kotak">Saya adalah mahasiswi jurusan Sistem Informasi Fakultas Ilmu Komputer
            di Universitas Indonesia. Saya saat ini sedang menjalani semester 3.</p>
    </div>
    <div class="tombol">
        <a href="https://www.instagram.com/falahdinaprilia">Kontak</a>
    </div>
</body>
</html>