<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dina's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body id='jadwalBody'>
    {% include 'base.html' %}
    <div>
        <div id="pengalaman">
            <p>Agenda</p>
        </div>
        <hr id="agendaLine">
        <br>
        <br>
        <div id="agendabtn">
            <div>
                <br>
                <a href="{% url 'formJadwal' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Tambah Agenda</a>
            </div>
            <div>
                <br>
                <br>
                <a href="{% url 'daftarKegiatan' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Lihat Agenda</a>
            </div>
        </div>
    </div>
</body>
</html>