
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dina's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color: rgb(44,220,158,0.28)">
    {% include 'base.html' %}
    <div id="pengalaman">
        <p>Pendidikan Saya</p>
    </div>
    <hr id="pendidikanLine">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <span class="icon fa fa-globe"></span>
                        <a href="#" class="timeline-content">
                            <h3 class="title">2006</h3>
                            <p class="description">
                                SD Kartika 1-11 Padang
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-rocket"></span>
                        <a href="#" class="timeline-content">
                            <h3 class="title">2011</h3>
                            <p class="description">
                                SMP Negeri 31 Padang
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-rocket"></span>
                        <a href="#" class="timeline-content">
                            <h3 class="title">2014</h3>
                            <p class="description">
                                SMA Negeri 10 Padang
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-rocket"></span>
                        <a href="#" class="timeline-content">
                            <h3 class="title">2017</h3>
                            <p class="description">
                                Universitas Indonesia
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>