<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dina's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body id="proyekBody">
        {% include 'base.html' %}
    <div>
        <p id="proyek">Proyek</p>
    </div>
    <hr id="proyekLine">
    <div>
        <div class="baris1">
            <div class="foto1">
                <img src="https://i.imgur.com/jHuusEm.jpg">
            </div>
            <div class="foto2">
                <img src="https://i.imgur.com/wkXa77m.jpg">
            </div>
            <div class="foto3">
                <img src="https://i.imgur.com/M7cmU38.jpg">
            </div>
        </div>
        
        <div class="baris2">
            <div class="foto4">
                <img src="https://i.imgur.com/mqoa70K.jpg">
            </div>
            <div class="foto5">
                <img src="https://i.imgur.com/EfJV6WS.jpg">
            </div>
        </div>
        
    </div>
</body>
</html>