body {margin:0;}

nav {
    background-color: #FFD4F7 !important;
    width: 100%;
}

.icon {
    padding-left: 2%;
    padding-top: 0.20%;
}

#iconNavbar {
    width: 100px;
    height: auto;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #343F4B;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #DB7093;
}

.active {
    color: #04D9EE;
}

#padding_img {
    padding: 3% 0% 0% 5%;
    max-width: 30%;
    height: auto;
}

#navText {
    padding-left: 10%;
    color: #47525E;
    font-family: 'Chewy', cursive;
}

#ulFont {
    font-family: 'Lato', sans-serif;
}

.body {
    background-image: url("http://www.designbolts.com/wp-content/uploads/2013/02/Floral-Grey-Seamless-Pattern-For-Website-Background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.img {
    border-radius: 50%;
    object-fit: cover;
    image-resolution: 50%;
    display: block;
    margin: auto;
}

.kotak {
    display: block;
    margin: auto;
    background-color: rgba(250, 237, 128, 0.8);
    margin-top: 3%;
    font-family: 'Chewy', cursive;
    width: 40%;
    text-align: center;
}

.dalam-kotak {
    padding: 3% 3%;
}

.tombol a {
    display: block;
    margin: auto;
    background-color: #47525E;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    width: 100px;
    padding: 1%;
    font-family: 'Lato', sans-serif;
}

.tombol {
    margin-top: 2%;
    margin-bottom: 2%;
}

#pengalaman {
    font-family: 'Caveat Brush', cursive;
    font-size: 50px;
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 7% !important;
    margin-top: 5%;
}

#humas {
    padding-left: 2%;
    color: #8190A5;
    font-family: Chewy;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

#humasLine {
    background-color: #FFBA5C;
    width: 500px;
    height: 8px;
    margin-left: 0%;
    margin-top: -7%;
}

#media {
    padding-right: 2%;
    color: #8190A5;
    font-family: Chewy;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
}

#mediaLine {
    background-color: #9784F8;
    width: 830px;
    height: 8px;
    margin-right: 0%;
    margin-top: -2%;
}

#cgt {
    padding-left: 2%;
    color: #8190A5;
    font-family: Chewy;
    font-size: 30px;
    font-weight: 400;
    width: 434px;
    text-align: left;
}

#cgtLine {
    background-color: #72E9FF;
    width: 570px;
    height: 8px;
    margin-left: 0%;
    margin-top: 7%;
}

#compfest {
    padding-right: 2%;
    color: #8190A5;
    font-family: Chewy;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
}

#compfestLine {
    background-color: #F884B6;
    width: 670px;
    height: 8px;
    margin-right: 0%;
    margin-top: 7%;
  }

.pengalaman {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#pengalamanBody {
    background-color: rgb(44,220,158,0.38);
}

.left {
    left: 0;
    margin-top: -13%;
}

.right {
    right: 0;
    margin-top: -5.5%;
}

#padding_left {
    padding-left: 3%;
}

#proyek {
    color: #47525E;
    margin-top: 18%;
    display: block;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 55px;
}

#proyekLine {
    background-color: #FFBA5C;
    width: 220px;
    height: 8px;
    margin-top: -1%;
}

#proyekBody {
    background-color: rgb(164,243,216,0.38);
}

.baris1 img {
    max-width: 100%;
    margin: auto;
}

.baris2 img {
    max-width: 100%;
    margin: auto;
    margin-bottom: 1.75%;
}

.foto1 {
    float: left;
    width: 25%;
    margin-left: 7.5%;
    margin-right: 5%;
    margin-bottom: 7.5%;
    margin-top: 20%;
}

.foto2 {
    float: left;
    width: 25%;
    margin-bottom: 7.5%;
    margin-top: 20%;
}

.foto3 {
    float: left;
    width: 25%;
    margin-right: 7.5%;
    margin-left: 5%;
    margin-bottom: 7.5%;
    margin-top: 20%;
}

.foto4 {
    float: left;
    width: 25%;
    margin-left: 20%;
    margin-right: 5%;
}

.foto5 {
    float: left;
    width: 25%;
    margin-left: 5%;
    margin-right: 20%;
}

.tulisan1 {
    float: left;
    width: 25%;
    margin-left: 7.5%;
    margin-right: 5%;
}

.tulisan2 {
    float: left;
    width: 25%;
}

.tulisan3 {
    float: left;
    width: 25%;
    margin-right: 7.5%;
    margin-left: 5%;
}

.tulisan4 {
    float: left;
    width: 25%;
    margin-left: 20%;
    margin-right: 5%;
}

.tulisan5 {
    float: left;
    width: 25%;
    margin-left: 5%;
    margin-right: 20%;
}

#baris1 p {
    max-width: 100%;
    font-family: 'Chewy', cursive;
    margin-top: 2%;
    text-align: center;
}

#baris2 p {
    max-width: 100%;
    font-family: 'Chewy', cursive;
    margin-top: 2%;
    text-align: center;

}

#tamu {
    color: #47525E;
    margin: auto;
    display: block;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 55px;
    margin-top: 1%;
}

.bodyTamu {
    background-color: rgb(44,220,158,0.10);
    background-repeat: no-repeat;
    background-size: cover;
}

#tamuLine {
    background-color: #F884B6;
    width: 290px;
    height: 8px;
    margin-top: -1%;
    margin-bottom: 3%;
}

#uname input {
    margin-top: 25%;
    margin: auto;
    display: block;
    object-fit: cover;
    width: 80%;
    height: 50px;
    padding-left: 1%;
}

#tanggal input {
    margin-top: 25%;
    margin: auto;
    display: block;
    object-fit: cover;
    width: 80%;
    height: 50px;
    padding-left: 1%;
}

#email input {
    margin-top: 25%;
    margin: auto;
    display: block;
    object-fit: cover;
    width: 80%;
    height: 50px;
    padding-left: 1%;
}

.input {
    margin-bottom:1%; 
}

.input2 {
    margin-top: 3% !important;
    width: 20%;
    margin:auto;
    display: block;

}

#subjek input {
    margin-top: 25%;
    margin: auto;
    display: block;
    object-fit: cover;
    width: 80%;
    height: 50px;
    padding-left: 1%;
}

#message {
    margin-top: 25%;
    margin: auto;
    display: block;
    object-fit: cover;
    width: 80%;
    height: 50px;
    padding-left: 1%;
    padding-top: 0.7%;
}

#button button {
    margin-top: 25%;
    margin: auto;
    display: block;
    object-fit: cover;
    width: 80%;
    height: 50px;
    padding-left: 1%;
    background-color: #04D9EE;
}

.btn:hover {
    opacity: 1;
}

#perintah {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
}

.perintah  {
    margin-left: 40%;
    display: block;
    width: 20%;
    height: 50px;
}

#pengalamanLine {
    background-color: #FFBA5C;
    width: 320px;
    height: 8px;
    margin-top: -8%;
    margin-bottom: 8%;
}

#pendidikanLine {
    background-color: #F884B6;
    width: 320px;
    height: 8px;
    margin-top: -8%;
}

#formbox {
    display: flex !important;
    flex-direction: column !important;
    width: 50%;
    margin: auto;

}

#agendabtn a {
    display: block;
    margin: auto;
    justify-content: center;
    width: 30%;
}
#tambahbutton a {
    display: block;
    margin: auto;
    justify-content: center;
    width: 40%;
    margin-bottom: 3%;
}
.formbody {
    background-image: url("https://pla.s6img.com/society6/img/E30_Raux6VTGuyE559_KONyagQY/w_700/shams/swatch/~artwork,fw_6105,fh_3500,fy_-845,iw_6105,ih_5189/s6-0067/a/27609801_8061823/~~/pastel-gradient-y6i-shams.jpg?wait=0&attempt=0");
    background-repeat: no-repeat;
    background-size: 380%;
}

#jadwalBody {
    background-image: url("https://s3.pixers.pics/pixers/700/FO/12/05/43/01/7/700_FO120543017_7bbb795fe120238bc66ff00932835ec5.jpg");
    background-repeat: no-repeat;
    background-size: 325%;
}
.box {
    background-color: white;
    margin: 0% 30% 5% 30%; 
    padding: 15px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    justify-content: center;
    width: 40%;
    display: block;
}

#agendaLine {
    background-color: #F884B6;
    width: 220px;
    height: 8px;
    margin-top: -8%;
}

/* untuk bootstrap timeline di pendidikan.html */
.main-timeline{
    padding-top: 50px;
    overflow: hidden;
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 7px;
    height: 100%;
    background: #084772;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}
.main-timeline .timeline{
    width: 50%;
    float: left;
    padding: 20px 60px;
    border-top: 7px solid #084772;
    border-right: 7px solid #084772;
    border-radius: 0 30px 0 0;
    position: relative;
    right: -3.5px;
}
.main-timeline .icon{
    display: block;
    width: 50px;
    height: 50px;
    line-height:50px;
    border-radius: 50%;
    background: #e84c47;
    border: 1px solid #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    box-shadow: 0 0 0 2px #e84c47;
    position: absolute;
    top: -30px;
    left: 0;
}
.main-timeline .timeline-content{
    display: block;
    padding: 30px 10px 10px;
    border-radius: 20px;
    background: #e84c47;
    color: #fff;
    position: relative;
}
.main-timeline .timeline-content:hover{
    text-decoration: none;
    color: #fff;
}
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: "";
    display: block;
    width: 10px;
    height: 50px;
    border-radius: 10px;
    background: #e84c47;
    border: 1px solid #fff;
    position: absolute;
    top: -35px;
    left: 50px;
}
.main-timeline .timeline-content:after{
    left: auto;
    right: 50px;
}
.main-timeline .title{
    font-size: 24px;
    margin: 0;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.main-timeline .timeline:nth-child(2n){
    border-right: none;
    border-left: 7px solid #084772;
    border-radius: 30px 0 0 0;
    right: auto;
    left: -3.5px;
}
.main-timeline .timeline:nth-child(2n) .icon{
    left: auto;
    right: 0;
}
.main-timeline .timeline:nth-child(2){ margin-top: 130px; }
.main-timeline .timeline:nth-child(odd){ margin: -130px 0 30px 0; }
.main-timeline .timeline:nth-child(even){ margin-bottom: 80px; }
.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){ margin: 0 0 30px 0; }
.main-timeline .timeline:nth-child(2n) .timeline-content,
.main-timeline .timeline:nth-child(2n) .timeline-content:before,
.main-timeline .timeline:nth-child(2n) .timeline-content:after,
.main-timeline .timeline:nth-child(2n) .icon{ background: #4bd9bf; }
.main-timeline .timeline:nth-child(2n) .icon{ box-shadow: 0 0 0 2px #4bd9bf; }
.main-timeline .timeline:nth-child(3n) .timeline-content,
.main-timeline .timeline:nth-child(3n) .timeline-content:before,
.main-timeline .timeline:nth-child(3n) .timeline-content:after,
.main-timeline .timeline:nth-child(3n) .icon{ background: #ff9e09; }
.main-timeline .timeline:nth-child(3n) .icon{ box-shadow: 0 0 0 2px #ff9e09; }
.main-timeline .timeline:nth-child(4n) .timeline-content,
.main-timeline .timeline:nth-child(4n) .timeline-content:before,
.main-timeline .timeline:nth-child(4n) .timeline-content:after,
.main-timeline .timeline:nth-child(4n) .icon{ background: #3ebae7; }
.main-timeline .timeline:nth-child(4n) .icon{ box-shadow: 0 0 0 2px #3ebae7; }
@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
        right: auto;
    }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd){
        width: 100%;
        float: none;
        padding: 20px 30px;
        margin: 0 0 30px 0;
        border-right: none;
        border-left: 7px solid #084772;
        border-radius: 30px 0 0 0;
        right: auto;
        left: 0;
    }
    .main-timeline .icon{
        left: auto;
        right: 0;
    }
}
@media only screen and (max-width: 480px){
    .main-timeline .title{ font-size: 18px; }
}

/* untuk timeline pendidikan */
.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #ED8D8D;
    color: #fff;
    max-height: 50px;
    z-index: 2;
  }
  
  .how-it-works.row .col-2 {
    align-self: stretch;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #ED8D8D;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #ED8D8D;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
  