<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'app1/webstyle.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    {% block link %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="ulFont">
        <div class="icon">
            <img id=iconNavbar src="https://i.imgur.com/4IswSyG.png">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
            <li class="{% if activetab == 'homepage' %}active{% endif %} nav-item ">
                <a class="nav-link" href="{% url 'homepage' %}">Halaman Utama <span class="sr-only">(current)</span></a>
            </li>
            <li class="{% if activetab == 'pengalaman' %}active{% endif %} nav-item">
                <a class="nav-link" href="{% url 'pengalaman' %}">Pengalaman</a>
            </li>
            <li class="{% if activetab == 'pendidikan' %}active{% endif %} nav-item">
                <a class="nav-link" href="{% url 'pendidikan' %}">Pendidikan</a>
            </li>
            <li class="{% if activetab == 'proyek' %}active{% endif %} nav-item">
                <a class="nav-link" href="{% url 'proyek' %}">Proyek</a>
            </li>
            <li class="{% if activetab == 'jadwal' %}active{% endif %} nav-item">
                <a class="nav-link" href="{% url 'jadwal' %}">Jadwal</a>
            </li>
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>